{% extends 'base.html' %}
{% block contenido %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="row-fluid fondo">

        </div>
    </div>
    <div class="container fondo-interior">
        {% comment %}<h3>Población Ajustada a 30 de Junio de 2005: {{ population_initial }}</h3>{% endcomment %}
        <div class="watch-container">
            <div class="row-fluid">
                <div class="current-population">
                    <h1>POBLACIÓN DE PERÚ AHORA</h1>
                </div>
            </div>
            <form id="population_form">{% csrf_token %}</form>
            <div class="row-fluid">
                <div id="feedback"></div>
            </div>
            <div class="row-fluid">
                <div class="current-population">
                    <h1 id="reloj"></h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    jQuery.noConflict();
    var dias = ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
        meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Setiembre', 'Octubre', 'Noviembre', 'Diciembre'];
    var pu = null, counter = 0;

    function get_date(){

        var fecha = new Date(),
        diasemana = fecha.getDay(),
        dia = fecha.getDate(),
        mes=fecha.getMonth(),
        ano = fecha.getFullYear(),
        hora = fecha.getHours(),
        minuto = fecha.getMinutes(),
        segundo = fecha.getSeconds();
        var str_segundo = ''+segundo,
            str_minuto = ''+minuto,
            horario = '';

        if (str_segundo.length === 1){
            segundo = "0" + segundo;
        }
        if (str_minuto.length === 1){
            minuto = "0" + minuto;
        }
        if (hora.length === 1){
            hora = "0" + hora;
        }
        if(hora > 12){
            horario = " PM";
        }else{
            horario = " AM";
        }
        if (hora > 12){
            hora = hora - 12;
        }
        var str_fecha = dias[diasemana]+ " " + dia + " de "+ meses[mes]+ " " + ano + "&nbsp;&nbsp;&nbsp;&nbsp;" + hora + " : " + minuto + " : " + segundo + horario;
        $('reloj').update(str_fecha);
        setTimeout("get_date()",1000);
    }

    function get_population(frecuency){
        var data = Form.serialize("population_form");

        var oOptions = {
            method: "POST",
            parameters: data,
            asynchronous: true,
            frequency: frecuency,
            decay: 1,
            onFailure: function (oXHR) {
                $('feedback').update(oXHR.statusText);
            },
            onLoading: function (oXHR) {
                //$('feedback').update('Cargando ...');
            },
            onSuccess: function (t){
                var data = t.responseJSON,
                    population = data['population'];
                $('feedback').update(population);
                counter += 1;
                if(pu && counter == 2){
                    pu.stop();
                    pu = null;
                    get_population(93);
                }
            }
        };
        pu = new Ajax.PeriodicalUpdater('', "{% url 'population' %}", oOptions);
    }

    document.observe('dom:loaded', function () {
        get_population({{ elapsed_time }});
        get_date();
    });
</script>
{% endblock %}